[Desktop Entry]
Comment=
Comment[en_US]=
Encoding=UTF-8
Exec=~/record-boot-time.sh
GenericName=
GenericName[en_US]=
Icon=exec
MimeType=
Name=Record boot time
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Ubuntu-Gettext-Domain=desktop_kdebase
